<div class="main-content">
  <div class="container-fluid">
      <div class="row">

        <div class="col-md-17">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Add/Edit Employee</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="First Name" type="text">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Last Name" type="text">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Email address" type="email">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Mobile">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Username" type="text">
                                </mat-form-field>
                              </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Password" type="password">
                                </mat-form-field>
                            </div>
                            
                        </div>
                       

                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save/Update</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Employee List</h4>
                      <p class="card-category"> </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                    Password
                                  </th>
                                  <th>
                                    Role
                                  </th>
                                  <th>
                                    Username
                                </th>
                                <th>Edit/delete</th>

                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Ali 
                                      </td>
                                      <td>
                                          Ali@gmail.com
                                      </td>
                                      <td>
                                          *****
                                      </td>
                                      <td >
                                          0
                                      </td>
                                      <td >
                                        user1
                                    </td>
                                    <td> <button mat-raised-button type="submit" class="btn btn-danger pull-right">Edit</button>
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Delete</button></td>
                                  </tr>
 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Absence List</h4>
                      <p class="card-category"> </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Motif
                                  </th>
                                 
                                
                                  <th>
                                      salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
